.homepage {
  padding: 2rem;
  padding-top: 0;
  background-color: #e2ddd9;
  margin-bottom: 16px;
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  &_container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
  }

  &_product_filter {
    flex-shrink: 0;
    width: 200px;
  }

  &_left_panel {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &_banner {
    img {
      width: 100%;
      height: auto;
      border-radius: 12px;
      object-fit: cover;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    }
  }

  &_right_panel {
    flex: 1;
    min-height: 80vh;
  }
  &_product_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    align-items: start;
  }
}

.product_grid {
  display: grid;
  flex-wrap: wrap;
  gap: 20px;
}

.product_motion_wrapper {
  width: calc(25% - 15px); // hoặc đúng tỉ lệ bạn muốn
  min-width: 200px;
}

.product_card {
  transition: all 0.4s ease, transform 0.4s ease;
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;

  &.hidden {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
  }

  &.highlighted {
    transform: scale(1.05);
    z-index: 2;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  position: relative;
  margin-left: 250px;

  button {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px 10px;

    &:hover {
      background-color: #d9c2af; 
      color: #fff;
      border-color: #d9c2af;
      transform: translateY(-2px);
    }
  }

  .active {
    background-color: #dbb99d;
    color: #fff;
    border-color: #dbb99d;
    font-weight: 600;
  }
}
