.mega_nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; // canh giữa menu chữ
  padding: 1rem 1rem;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: white;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  .menu_button {
    position: absolute;
    left: 2rem;
    background-color: white;
    border: 1px solid #ddd;
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
    cursor: pointer;
  }

  .mega_nav_menu {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-right: 140px;

    li {
      transition: color 0.2s ease;
      &:hover {
        color: #c8a98d;
        font-weight: 500;
      }
    }

    li {
      cursor: pointer;

      &:hover {
        color: #c8a98d;
      }
    }
  }

  .mega_nav_right {
    position: absolute;
    right: 2rem;
    font-size: 0.95rem;

    strong {
      color: #000;
    }
  }
}
